{% extends 'login_base.html' %}
{% from 'macros.html' import field_errors, form_errors %}

{% block page_heading %}
    {% block title %}Forgot your password?{% endblock %}
{% endblock %}

{% block content %}
    <span>Enter your email address and we'll send you a password reset link.</span>
    <form action="{{ url_for('login.forgot_password') }}" method="POST">
        {{ form_errors(form) }}
        {{ form.csrf_token }}
        {{ form.challenge }}
        {{ form.email.label }} {{ field_errors(form.email) }}
        <input type="submit" value="{{ ('Re-send' if sent else 'Send') + ' password reset email' }}">
    </form>
{% endblock %}
