{% extends 'login_base.html' %}
{% from 'macros.html' import with_errors %}

{% block page_heading %}
    {% block title %}Log in{% endblock %}
{% endblock %}

{% block content %}
    <form action="{{ url_for('auth.login') }}" method="POST">
        {{ form.csrf_token }}
        {{ form.login_challenge }}
        {{ form.email.label }} {{ with_errors(form.email) }}
        {{ form.password.label }} {{ with_errors(form.password) }}
        <input type="submit" value="Log in">
    </form>
{% endblock %}
