{% macro field_errors(field) %}
    {% if field.errors %}
        {% set css_class = 'has-error ' + kwargs.pop('class', '') %}
        {{ field(class=css_class, **kwargs) }}
    {% else %}
        {{ field(**kwargs) }}
    {% endif %}
{% endmacro %}

{% macro form_errors(form) %}
    {% if form.errors %}
        <ul class="form-errors">
            {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                {% for error in field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{% macro duallistbox_css() %}
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/bootstrap-duallistbox/src/bootstrap-duallistbox.css') }}">
{% endmacro %}

{% macro duallistbox_js(field_id) %}
    <script src="{{ url_for('static', filename='node_modules/bootstrap-duallistbox/dist/jquery.bootstrap-duallistbox.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        params = {
            bootstrap2Compatible: true,
            moveOnSelect: false
        };
        {% for key, val in kwargs.items() %}
            {%- if val == True -%}
                params["{{ key }}"] = true;
            {%- elif val == False -%}
                params["{{ key }}"] = false;
            {%- else -%}
                params["{{ key }}"] = "{{ val }}";
            {%- endif %}
        {% endfor %}
        $("#{{ field_id }}").bootstrapDualListbox(params);
    </script>
{% endmacro %}
