{% from 'macros.html' import duallistbox_js %}

{% macro capabilities_duallistbox_js() %}
    {{ duallistbox_js('capabilities',
                      showFilterInputs=False,
                      infoText=False,
                      selectorMinimalHeight=200,
                      moveSelectedLabel='Assign selected',
                      moveAllLabel='Assign all',
                      nonSelectedListLabel='Available capabilities',
                      selectedListLabel='Assigned capabilities',
    ) }}
{% endmacro %}
