{% extends 'login_base.html' %}
{% from 'macros.html' import field_errors, form_errors %}

{% block page_heading %}
    {% block title %}Create account{% endblock %}
{% endblock %}

{% block content %}
    <form action="{{ url_for('user.register') }}" method="POST">
        {{ form_errors(form) }}
        {{ form.csrf_token }}
        {{ form.email.label }} {{ field_errors(form.email) }}
        {{ form.password.label }} {{ field_errors(form.password) }}
        <input type="submit" value="Sign up">
    </form>
{% endblock %}
