{% extends 'login_base.html' %}
{% from 'macros.html' import field_errors, form_errors %}

{% block page_heading %}
    {% block title %}Create new password{% endblock %}
{% endblock %}

{% block content %}
    <span>{{ password_complexity_description }}</span>
    <form action="{{ url_for('account.reset_password') }}" method="POST">
        {{ form_errors(form) }}
        {{ form.csrf_token }}
        {{ form.challenge }}
        {{ form.email }}
        {{ form.password.label }} {{ field_errors(form.password) }}
        {{ form.confirm_password.label }} {{ field_errors(form.confirm_password) }}
        <input type="submit" value="Set new password">
    </form>
{% endblock %}
