# Example configuration for testing

ODP_ENV=testing

ODP_DB_HOST=localhost
ODP_DB_PORT=7357
ODP_DB_NAME=odp_test
ODP_DB_USER=odp_user
ODP_DB_PASS=pass
ODP_DB_ECHO=false

HYDRA_IMAGE=oryd/hydra:v1.11.7
HYDRA_PUBLIC_URL=http://localhost:7444
HYDRA_ADMIN_URL=http://localhost:7445
