html {
  font-family: sans-serif;
  background: #F4F7FC;
}

body {
  background: white;
  border: 1px solid #13334C;
  box-shadow: 2px 2px 5px 1px #DDDDDD;
  margin: 1rem;
}

body.login {
  width: 430px;
  margin-left: calc(50vw - 200px);
  margin-top: 15vh;
}

ul {
  list-style: none;
}

img.nrf-icon {
  object-fit: scale-down;
  max-height: 80%;
  margin-right: 8px;
  margin-top: 2px;
}

nav {
  background: linear-gradient(to right, #D3ECFF, #BAFFEC);
  color: #13334C;
  display: flex;
  margin: 0;
  height: 75px;
  border-bottom: 1px solid #13334C;
}

body.login nav {
  height: 100px;
}

nav a {
  text-decoration: none;
  color: inherit;
}

nav h1 {
  flex: auto;
  align-items: center;
}

nav ul, nav h1  {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

nav ul li span, nav ul li a, nav h1 a {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 1em;
}

.nav-button:hover {
  background: #44FFCD;
  text-decoration: underline;
}

.flash {
  display: flex;
  flex-direction: column;
}

.flash ul {
  max-width: 50vw;
  margin: 0 auto;
}

.flash ul li {
  display: flex;
  align-items: center;
  margin: .8em 0;
  padding: 1.2em;
  background: #FFF7E5;
  border: 1px solid #FFC849;
}

.flash ul li.error {
  background: #FFE5E5;
  border: 1px solid #FF4C4C;
}

section, main {
  padding: 1rem;
}

main header {
  font-size: .85em;
  margin-top: 3em;
  margin-bottom: 3em;
}

input[type=submit] {
  align-self: start;
  min-width: 7.5em;
  height: 3.5em;
  background: #C4DCF2;
  border: 1px solid gray;
  cursor: pointer;
  margin-top: 1.6em;
  font-weight: bold;
}

input[type=submit]:hover {
  text-decoration: underline;
  background: #44FFCD;
}

ul.form-errors {
  color: #FF0000;
  padding: 0;
}

input.has-error {
  box-shadow: 0px 0px 1px 1px #FF0000;
}

main form {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
}

main label {
  font-weight: bold;
  margin-bottom: 0.5em;
}

main input, main textarea {
  margin-bottom: 1em;
}

main textarea {
  min-height: 12em;
  resize: vertical;
}
