{% extends 'base.html' %}

{% block header %}
    Collections
{% endblock %}

{% block content %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Key</th>
                <th scope="col">Provider</th>
                <th scope="col">Projects</th>
                <th scope="col">Records</th>
            </tr>
        </thead>
        <tbody>
            {% for collection in collections %}
                <tr>
                    <td>{{ collection.name }}</td>
                    <td>{{ collection.key }}</td>
                    <td>{{ collection.provider_key }}</td>
                    <td>{{ collection.project_keys }}</td>
                    <td>{{ collection.record_count }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
