{% macro nav_menu(active_view, views_row1, views_row2) %}
    <div class="navbar-nav nav-pills nav-justified flex-row">
        {% for view in views_row1 %}
            {{ nav_link(view, view == active_view) }}
        {% endfor %}
    </div>
    <div class="navbar-nav nav-pills nav-justified flex-row">
        {% for view in views_row2 %}
            {{ nav_link(view, view == active_view) }}
        {% endfor %}
    </div>
{% endmacro %}

{% macro nav_link(view, is_active) %}
    <a class="nav-link {% if is_active %} active {% endif %}"
       href="{{ url_for(view + '.index') }}">{{ view|title }}</a>
{% endmacro %}

{% macro flash_messages() %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == 'message' %}
                    {% set category = 'info' %}
                {% elif category == 'error' %}
                    {% set category = 'danger' %}
                {% endif %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
{% endmacro %}

{% macro render_table(objects) %}
{# Render a list of objects in a table. Example usage:
    {% call(project) render_table(projects, 'Name', 'Collections') %}
        <td>{{ project.name }}</td>
        <td>{{ project.collection_ids|join(', ') }}</td>
    {% endcall %}
#}
    <div>
        <a href="{{ url_for('.create') }}" class="btn btn-outline-success btn-action">
            Create
        </a>
    </div>
    <table class="table table-hover mt-2">
        <thead>
            <tr>
                <th scope="col">Id</th>
                {% for col in varargs %}
                    <th scope="col">{{ col }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for obj in objects %}
                <tr>
                    <th scope="row">
                        <a href="{{ url_for('.view', id=obj.id) }}" class="text-decoration-none">
                            {{ obj.id }}
                        </a>
                    </th>
                    {% if caller %}
                        {{ caller(obj) }}
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endmacro %}

{% macro render_info(obj) %}
{# Render object info in a table. Example usage:
    {% call(prop) render_info(project, 'Name', 'Collections') %}
        {% if prop == 'Name' %}
            {{ project.name }}
        {% elif prop == 'Collections' %}
            {{ project.collection_ids|join(', ') }}
        {% endif %}
    {% endcall %}
#}
    <table class="table">
        <tbody>
            <tr>
                <th scope="row">Id</th>
                <td>{{ obj.id }}</td>
            </tr>
            {% for prop in varargs %}
                <tr>
                    <th scope="row">{{ prop }}</th>
                    <td>{{ caller(prop) }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="btn-toolbar justify-content-between mt-4">
        <a href="{{ url_for('.edit', id=obj.id) }}" class="btn btn-outline-primary btn-action">
            Edit
        </a>
        <form action="{{ url_for('.delete', id=obj.id) }}" method="post">
            <button type="submit" class="btn btn-outline-danger btn-action"
                    onclick="return confirm('Are you sure you want to delete {{ obj.id }}? This cannot be undone!')">
                Delete
            </button>
        </form>
    </div>
{% endmacro %}

{% macro render_form(form, obj) %}
    {% if obj %}
        {% set submit_target = url_for('.edit', id=obj.id) %}
        {% set cancel_target = url_for('.view', id=obj.id) %}
    {% else %}
        {% set submit_target = url_for('.create') %}
        {% set cancel_target = url_for('.index') %}
    {% endif %}
    <form action="{{ submit_target }}" method="post">
        {{ form.csrf_token }}
        {% for field in form if field.id != 'csrf_token' %}
            <div class="form-group mt-4">
                {{ field.label(class='form-label') }}
                {% if obj and field.id == 'id' %}
                    {{ field(class='form-control', readonly='') }}
                {% elif not field.errors %}
                    {{ field(class='form-control') }}
                {% else %}
                    {{ field(class='form-control is-invalid') }}
                    {% for error in field.errors %}
                        <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}
        <div class="mt-4">
            <button type="submit" class="btn btn-outline-primary btn-action">Save</button>
            <a href="{{ cancel_target }}" class="btn btn-outline-secondary btn-action">Cancel</a>
        </div>
    </form>
{% endmacro %}
