{% extends 'base.html' %}

{% block header %}
    Projects
{% endblock %}

{% block content %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Key</th>
                <th scope="col">Collections</th>
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
                <tr>
                    <td>{{ project.name }}</td>
                    <td>{{ project.key }}</td>
                    <td>{{ project.collection_keys }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
