{% extends 'base.html' %}

{% block web_title %}
    {{ super() }} |
    {% block heading %}
        Catalog Record: {{ catalog_record.catalog_id }} / {{ catalog_record.record_id }}
    {% endblock %}
{% endblock %}

{% block content %}
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#info" type="button" role="tab">
                Info
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#published-record" type="button" role="tab">
                Published Record
            </button>
        </li>
    </ul>
    <div class="tab-content">
        <div id="info" class="tab-pane fade show active" role="tabpanel">
            {% from 'macros.html' import render_info, obj_link %}
            {% call(prop) render_info(catalog_record, 'Catalog', 'Record id', 'Published', 'Reason', 'Timestamp', hide_id=True) %}
                {% if prop == 'Catalog' %}
                    {{ obj_link('catalogs', catalog_record.catalog_id) }}
                {% elif prop == 'Record id' %}
                    {{ obj_link('records', catalog_record.record_id) }}
                {% elif prop == 'Published' %}
                    {{ catalog_record.published }}
                {% elif prop == 'Reason' %}
                    {{ catalog_record.reason }}
                {% elif prop == 'Timestamp' %}
                    {{ catalog_record.timestamp|timestamp }}
                {% endif %}
            {% endcall %}
        </div>
        <div id="published-record" class="tab-pane fade" role="tabpanel">
            <pre class="m-3">
                {{- catalog_record.published_record|format_json -}}
            </pre>
        </div>
    </div>
{% endblock %}
