{% extends 'base.html' %}

{% block web_title %}
    {{ super() }} |
    {% block heading %}
        Client: {{ client.name }}
    {% endblock %}
{% endblock %}

{% block content %}
    {% from 'macros.html' import render_info, render_buttons, obj_link %}
    {% call(prop) render_info(client, 'Name', 'Collection', 'Scope', 'Grant types', 'Response types',
            'Redirect URIs', 'Post-logout redirect URIs', 'Token endpoint auth method', 'Allowed CORS origins') %}
        {% if prop == 'Name' %}
            {{ client.name }}
        {% elif prop == 'Collection' %}
            {{ obj_link('collections', client.collection_id) }}
        {% elif prop == 'Scope' %}
            {{ client.scope_ids|sort|join('<br/>')|safe }}
        {% elif prop == 'Grant types' %}
            {{ client.grant_types|sort|join('<br/>')|safe }}
        {% elif prop == 'Response types' %}
            {{ client.response_types|sort|join('<br/>')|safe }}
        {% elif prop == 'Redirect URIs' %}
            {{ client.redirect_uris|sort|join('<br/>')|safe }}
        {% elif prop == 'Post-logout redirect URIs' %}
            {{ client.post_logout_redirect_uris|sort|join('<br/>')|safe }}
        {% elif prop == 'Token endpoint auth method' %}
            {{ client.token_endpoint_auth_method }}
        {% elif prop == 'Allowed CORS origins' %}
            {{ client.allowed_cors_origins|sort|join('<br/>')|safe }}
        {% endif %}
    {% endcall %}
    {{ render_buttons(client, edit=True, delete=True) }}
{% endblock %}
