{% extends 'base.html' %}

{% block web_title %}
    {{ super() }} |
    {% block heading %}
        Client: {{ client.name }}
    {% endblock %}
{% endblock %}

{% block content %}
    {% from 'macros.html' import render_info, render_buttons, obj_link %}
    {% call(prop) render_info(client, 'Name', 'Provider', 'Scope') %}
        {% if prop == 'Name' %}
            {{ client.name }}
        {% elif prop == 'Provider' %}
            {{ obj_link('providers', client.provider_id) }}
        {% elif prop == 'Scope' %}
            {{ client.scope_ids|sort|join('<br/>')|safe }}
        {% endif %}
    {% endcall %}
    {{ render_buttons(client, edit=True, delete=True) }}
{% endblock %}
