{% extends 'base.html' %}

{% block web_title %}
    {{ super() }} |
    {% block heading %}
        Collection: {{ collection.name }}
    {% endblock %}
{% endblock %}

{% block content %}
    {% from 'macros.html' import render_info, render_buttons, render_button_prompt_form, obj_link, obj_links %}
    {% call(prop) render_info(collection, 'Name', 'Provider', 'Projects', 'DOI key', 'Records',
            'Published', 'Archived') %}
        {% if prop == 'Name' %}
            {{ collection.name }}
        {% elif prop == 'Provider' %}
            {{ obj_link('providers', collection.provider_id) }}
        {% elif prop == 'Projects' %}
            {{ obj_links('projects', collection.project_ids, newlines=True) }}
        {% elif prop == 'DOI key' %}
            {{ collection.doi_key if collection.doi_key }}
        {% elif prop == 'Records' %}
            <a href="{{ url_for('records.index', collection=collection.id) }}" class="text-decoration-none">
                {{ collection.record_count }}
            </a>
        {% elif prop == 'Published' %}
            {% if publish_tag %}
                {{ publish_tag.timestamp|timestamp }} by {{ obj_link('users', publish_tag.user_id, publish_tag.user_name) }}
            {% endif %}
        {% elif prop == 'Archived' %}
            {% if archive_tag %}
                {{ archive_tag.timestamp|timestamp }} by {{ obj_link('users', archive_tag.user_id, archive_tag.user_name) }}
            {% endif %}
        {% endif %}
    {% endcall %}
    {% if publish_tag %}
        {% set publish_btn = ['unpublish'] %}
    {% else %}
        {% set publish_btn = ['publish'] %}
    {% endif %}
    {% if archive_tag %}
        {% set archive_btn = ['unarchive'] %}
    {% else %}
        {% set archive_btn = ['archive'] %}
    {% endif %}
    {% call(btn) render_buttons(collection, edit=True, delete=True, custom=publish_btn + archive_btn) %}
        {% if btn == 'publish' %}
            {{ render_button_prompt_form('.tag_publish', collection.id, 'Publish', 'success',
                'Are you sure you want to publish the collection?') }}
        {% elif btn == 'unpublish' %}
            {{ render_button_prompt_form('.untag_publish', collection.id, 'Un-publish', 'warning',
                'Are you sure you want to un-publish the collection?') }}
        {% elif btn == 'archive' %}
            {{ render_button_prompt_form('.tag_archive', collection.id, 'Archive', 'warning',
                'Are you sure you want to archive the collection?') }}
        {% elif btn == 'unarchive' %}
            {{ render_button_prompt_form('.untag_archive', collection.id, 'Un-archive', 'success',
                'Are you sure you want to un-archive the collection?') }}
        {% endif %}
    {% endcall %}
{% endblock %}
