{% extends 'base.html' %}

{% block heading %}
    Collections
{% endblock %}

{% block content %}
    {% from 'macros.html' import render_table, render_buttons, obj_link, obj_links %}
    {{ render_buttons(create=True) }}
    {% call(collection) render_table(collections, 'Name', 'Provider', 'Projects', 'Records') %}
        <td>{{ collection.name }}</td>
        <td>{{ obj_link('providers', collection.provider_id) }}</td>
        <td>{{ obj_links('projects', collection.project_ids) }}</td>
        <td>{{ collection.record_count }}</td>
    {% endcall %}
{% endblock %}
