{% extends 'base.html' %}

{% block web_title %}
    {{ super() }} |
    {% block heading %}
        {{ audit.tag_id }} Audit: {{ audit.record_doi or audit.record_sid or audit.record_id }}
    {% endblock %}
{% endblock %}

{% block content %}
    {% from 'macros.html' import render_info, obj_link %}

    {% if audit.command == 'insert' %}
        {% set action = 'Created' %}
    {% elif audit.command == 'update' %}
        {% set action = 'Updated' %}
    {% elif audit.command == 'delete' %}
        {% set action = 'Deleted' %}
    {% endif %}

    {% call(prop) render_info(audit, 'Record id', 'Tag id', 'Tag data', 'Tag owner', action, hide_id=True) %}
        {% if prop == 'Record id' %}
            {{ obj_link('records', audit.record_tag_record_id) }}
        {% elif prop == 'Tag id' %}
            {{ obj_link('tags', audit.tag_id) }}
        {% elif prop == 'Tag data' %}
            <pre>{{- audit.record_tag_data|format_json -}}</pre>
        {% elif prop == 'Tag owner' %}
            {{ obj_link('users', audit.record_tag_user_id, audit.record_tag_user_name) }}
        {% elif prop == action %}
            {{ audit.timestamp|timestamp }} by
            {% if audit.user_id %}
                {{ obj_link('users', audit.user_id, audit.user_name) }} using
            {% endif %}
            {{ obj_link('clients', audit.client_id) }}
        {% endif %}
    {% endcall %}
{% endblock %}
