{% extends 'base.html' %}

{% block web_title %}
    {{ super() }} |
    {% block heading %}
        Record Audit: {{ audit.record_doi or audit.record_sid }}
    {% endblock %}
{% endblock %}

{% block content %}
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#info" type="button" role="tab">
                Info
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#metadata" type="button" role="tab">
                Metadata
            </button>
        </li>
    </ul>
    <div class="tab-content">
        <div id="info" class="tab-pane fade show active" role="tabpanel">
            {% from 'macros.html' import render_info, obj_link %}

            {% if audit.command == 'insert' %}
                {% set action = 'Created' %}
            {% elif audit.command == 'update' %}
                {% set action = 'Updated' %}
            {% elif audit.command == 'delete' %}
                {% set action = 'Deleted' %}
            {% endif %}

            {% call(prop) render_info(audit, 'Id', 'DOI', 'SID', 'Collection', 'Schema', action, hide_id=True) %}
                {% if prop == 'Id' %}
                    {{ audit.record_id }}
                {% elif prop == 'DOI' %}
                    {{ audit.record_doi if audit.record_doi }}
                {% elif prop == 'SID' %}
                    {{ audit.record_sid if audit.record_sid }}
                {% elif prop == 'Collection' %}
                    {{ obj_link('collections', audit.record_collection_id) }}
                {% elif prop == 'Schema' %}
                    {{ obj_link('schemas', audit.record_schema_id) }}
                {% elif prop == action %}
                    {{ audit.timestamp|timestamp }} by
                    {% if audit.user_id %}
                        {{ obj_link('users', audit.user_id, audit.user_name) }} using
                    {% endif %}
                    {{ obj_link('clients', audit.client_id) }}
                {% endif %}
            {% endcall %}
        </div>
        <div id="metadata" class="tab-pane fade" role="tabpanel">
            <pre class="m-3">
                {{- audit.record_metadata|format_json -}}
            </pre>
        </div>
    </div>
{% endblock %}
