{% extends 'base.html' %}

{% block web_title %}
    {{ super() }} |
    {% block heading %}
        Record: {{ record.doi or record.sid }}
    {% endblock %}
{% endblock %}

{% block content %}
    {% from 'macros.html' import render_field %}
    <form action="{{ url_for('.tag_embargo', id=record.id) }}" method="post">
        {{ form.csrf_token }}
        {{ render_field(form.start) }}
        {{ render_field(form.end) }}
        {{ render_field(form.comment) }}
        <div class="mt-4">
            <button type="submit" class="btn btn-outline-primary btn-action">
                Save
            </button>
            <a href="{{ url_for('.view', id=record.id) }}" class="btn btn-outline-secondary btn-action">
                Cancel
            </a>
        </div>
    </form>
{% endblock %}
