{% extends 'base.html' %}

{% block web_title %}
    {{ super() }} |
    {% block heading %}
        Records
    {% endblock %}
{% endblock %}

{% block content %}
    {% from 'macros.html' import render_table, render_buttons, obj_link %}
    {{ render_buttons(create=True) }}
    {% call(record) render_table(records, 'DOI', 'SID', 'Collection', 'Schema', 'Valid', hide_id=True) %}
        <th scope="row">{{ obj_link('records', record.id, record.doi or '') }}</th>
        <th scope="row">{{ obj_link('records', record.id, record.sid or '') }}</th>
        <td>{{ obj_link('collections', record.collection_id) }}</td>
        <td>{{ obj_link('schemas', record.schema_id) }}</td>
        <td>{{ '&#9989;'|safe if record.validity.valid else '&#10060;'|safe }}</td>
    {% endcall %}
{% endblock %}
