{% extends 'base.html' %}

{% block web_title %}
    {{ super() }} |
    {% block heading %}
        User: {{ user.name }}
    {% endblock %}
{% endblock %}

{% block content %}
    {% if user.picture %}
        <img src="{{ user.picture }}" class="mb-3">
    {% endif %}
    {% from 'macros.html' import render_info, render_buttons, obj_links %}
    {% call(prop) render_info(user, 'Name', 'Email', 'Verified', 'Active', 'Roles') %}
        {% if prop == 'Name' %}
            {{ user.name }}
        {% elif prop == 'Email' %}
            {{ user.email }}
        {% elif prop == 'Verified' %}
            {{ user.verified }}
        {% elif prop == 'Active' %}
            {{ user.active }}
        {% elif prop == 'Roles' %}
            {{ obj_links('roles', user.role_ids, newlines=True) }}
        {% endif %}
    {% endcall %}
    {{ render_buttons(user, edit=True, delete=True) }}
{% endblock %}
