{% extends 'base.html' %}

{% block web_title %}
    {{ super() }} |
    {% block heading %}
        {% if term %}
            Infrastructure: {{ term.data.name }}
        {% else %}
            Add Infrastructure
        {% endif %}
    {% endblock %}
{% endblock %}

{% block content %}
    {% from 'macros.html' import render_form %}
    {{ render_form(form, term,
       submit_target=url_for('.edit_infrastructure_term', id=term.id) if term else url_for('.create_infrastructure_term'),
       cancel_target=url_for('.view', id=vocabulary.id)) }}
{% endblock %}
