server:
  host: '0.0.0.0'
  port: 8999

security:
  hydra_admin_url: 'https://localhost:9001'
  oauth2_audience: 'ODP-API'

adapters:
  - name: 'CKANAdapter'
    routes:
      - '/metadata/'
      - '/institutions/'
    config:
      ckan_url: 'http://localhost:5000'
