sqlalchemy
psycopg2
alembic
pydantic
python-dotenv
itsdangerous==2.0.1
argon2-cffi
requests
redis
pyyaml
ory-hydra-client==1.11.7

# APIs
fastapi
uvicorn
python-multipart
xmltodict
jschon

# UIs
flask
flask-login
flask-wtf
flask-mail
wtforms
gunicorn
authlib==0.15.5
bootstrap-flask
email-validator

# Testing
pytest
factory-boy
sqlalchemy-utils
coverage
