sqlalchemy
psycopg2
alembic
pydantic
python-dotenv
itsdangerous
argon2-cffi
requests
redis
pyyaml
ory-hydra-client

# APIs
fastapi
uvicorn
python-multipart
xmltodict
jschon

# UIs
flask
flask-login
flask-wtf
flask-mail
wtforms
gunicorn
authlib
bootstrap-flask
email-validator

# Testing
pytest
factory-boy
sqlalchemy-utils
coverage
