<!doctype html>
<html lang="en">
<head>
    <title>SAEON | Open Data Platform</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{{ url_for('static', filename='NRF-favicon.ico') }}">
    {{ bootstrap.load_css() }}
</head>
<body>
    <nav class="navbar navbar-dark bg-primary">
        <div class="container">
            <span class="navbar-text lead">
                SAEON | Open Data Platform
            </span>
            <a class="navbar-brand text-reset mb-2" href="http://www.saeon.ac.za" target="_blank" rel="noopener noreferrer">
                <img src="{{ url_for('static', filename='SAEON-NRF-LOGO-alpha.png') }}" height="55">
            </a>
        </div>
    </nav>
    <main class="container p-5" style="width: 420px">
        <h4 class="mb-4">{% block heading %}{% endblock %}</h4>

        {% from 'bootstrap/utils.html' import render_messages %}
        {{ render_messages(dismissible=True, dismiss_animate=True) }}

        {% block content %}{% endblock %}

        <footer class="text-center mt-4">
            {% block footer %}{% endblock %}
            <hr/>
            <small>
                Copyright &copy; 2021-<script>document.write(new Date().getFullYear())</script>
                South African Environmental Observation Network
            </small>
        </footer>
    </main>
    {{ bootstrap.load_js() }}
</body>
</html>
