{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_field %}

{% block heading %}
    Forgot your password?
{% endblock %}

{% block content %}
    <p>Enter your email address and we'll send you a password reset link.</p>
    <form action="{{ url_for('login.forgot_password', token=token) }}" method="POST">
        {{ form.csrf_token }}
        {{ render_field(form.email) }}
        <input class="btn btn-primary btn-block" id="submit" name="submit" type="submit"
               value="{{ 'Re-send' if sent else 'Send' }} reset link">
    </form>
{% endblock %}
