{% extends 'login_base.html' %}
{% from 'macros.html' import field_errors, form_errors %}

{% block page_heading %}
    {% block title %}Log in{% endblock %}
{% endblock %}

{% block content %}
    <form action="{{ url_for('login.login', token=token) }}" method="POST">
        {{ form_errors(form) }}
        {{ form.csrf_token }}
        {{ form.email.label }} {{ field_errors(form.email) }}
        {{ form.password.label }} {{ field_errors(form.password) }}
        <input type="submit" value="Log in">
    </form>
    <form action="{{ url_for('google.login', token=token) }}" method="POST">
        {{ form.csrf_token }}
        <input type="submit" value="Log in with Google">
    </form>
{% endblock %}

{% block login_footer %}
    <p>Don't have an account yet? <a href="{{ url_for('signup.signup', token=token) }}">Sign up</a></p>
    <p><a href="{{ url_for('login.forgot_password', token=token) }}">Forgot your password?</a></p>
{% endblock %}
