{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_field %}

{% block heading %}
    Log in
{% endblock %}

{% block content %}
    <form action="{{ url_for('login.login', token=token) }}" method="POST">
        {{ form.csrf_token }}
        {{ render_field(form.email) }}
        {{ render_field(form.password) }}
        {{ render_field(form.submit) }}
    </form>
    <hr class="my-4"/>
    <p class="text-center">
        Don't have an account yet?
        <a href="{{ url_for('signup.signup', token=token) }}">Sign up</a>
        <br/>
        <a href="{{ url_for('login.forgot_password', token=token) }}">Forgot your password?</a>
    </p>
    {% if enable_google and brand == 'saeon' %}
        <hr class="my-4"/>
        <h6>SAEON staff</h6>
        <p>
            Log in with your @saeon.nrf.ac.za account
        </p>
        <form action="{{ url_for('google.authorize', token=token) }}" method="POST">
            <input class="btn btn-outline-primary btn-block" id="submit" name="submit" type="submit" value="Log in via Google">
        </form>
    {% endif %}
{% endblock %}
