{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_field %}

{% block heading %}
    Create an account
{% endblock %}

{% block content %}
    <form action="{{ url_for('signup.signup', token=token) }}" method="POST">
        {{ form.csrf_token }}
        {{ render_field(form.name) }}
        {{ render_field(form.email) }}
        {{ render_field(form.password) }}
        {{ render_field(form.confirm_password) }}
        {{ render_field(form.submit) }}
    </form>
    <hr class="my-4"/>
    <p class="text-center">
        Already have an account?
        <a href="{{ url_for('login.login', token=token) }}">Log in</a>
    </p>
    {% if enable_google and brand == 'saeon' %}
        <hr class="my-4"/>
        <h6>SAEON staff</h6>
        <p>
            Sign up with your @saeon.nrf.ac.za account
        </p>
        <form action="{{ url_for('google.authorize', token=token) }}" method="POST">
            <input class="btn btn-outline-primary btn-block" id="submit" name="submit" type="submit" value="Sign up via Google">
        </form>
    {% endif %}
{% endblock %}
