{% extends 'base.html' %}

{% block heading %}
    Collection: {{ collection.name }}
{% endblock %}

{% block content %}
    {% from 'macros.html' import render_info, render_buttons, obj_link, obj_links %}
    {% call(prop) render_info(collection, 'Name', 'Provider', 'Projects', 'Records') %}
        {% if prop == 'Name' %}
            {{ collection.name }}
        {% elif prop == 'Provider' %}
            {{ obj_link('providers', collection.provider_id) }}
        {% elif prop == 'Projects' %}
            {{ obj_links('projects', collection.project_ids) }}
        {% elif prop == 'Records' %}
            {{ collection.record_count }}
        {% endif %}
    {% endcall %}
    {{ render_buttons(collection, edit=True, delete=True) }}
{% endblock %}
