{% macro nav_menu(active_view, views_row1, views_row2) %}
    <div class="navbar-nav nav-pills nav-justified flex-row">
        {% for view in views_row1 %}
            {{ nav_link(view, view == active_view) }}
        {% endfor %}
    </div>
    <div class="navbar-nav nav-pills nav-justified flex-row">
        {% for view in views_row2 %}
            {{ nav_link(view, view == active_view) }}
        {% endfor %}
    </div>
{% endmacro %}

{% macro nav_link(view, is_active) %}
    <a class="nav-link {% if is_active %} active {% endif %}"
       href="{{ url_for(view ~ '.index') }}">{{ view|title }}</a>
{% endmacro %}

{% macro flash_messages() %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == 'message' %}
                    {% set category = 'info' %}
                {% elif category == 'error' %}
                    {% set category = 'danger' %}
                {% endif %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
{% endmacro %}

{% macro render_table(objects) %}
{# Render a list of objects in a table.
    To disable automatic id column rendering, pass kwarg hide_id=True.
    Example usage:
        {% call(project) render_table(projects, 'Name', 'Collections') %}
            <td>{{ project.name }}</td>
            <td>{{ project.collection_ids|join(', ') }}</td>
        {% endcall %}
#}
    <table class="table table-hover mt-2">
        <thead>
            <tr>
                {% if not kwargs.get('hide_id') %}
                    <th scope="col">Id</th>
                {% endif %}
                {% for col in varargs %}
                    <th scope="col">{{ col }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for obj in objects %}
                <tr>
                    {% if not kwargs.get('hide_id') %}
                        <th scope="row">{{ obj_link('', obj.id) }}</th>
                    {% endif %}
                    {% if caller %}
                        {{ caller(obj) }}
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endmacro %}

{% macro render_buttons(obj, create=False, edit=False, delete=False) %}
    <div class="btn-toolbar justify-content-between mt-4">
        {% if create %}
            <a href="{{ url_for('.create') }}" class="btn btn-outline-success btn-action">
                Create
            </a>
        {% endif %}
        {% if edit %}
            <a href="{{ url_for('.edit', id=obj.id) }}" class="btn btn-outline-primary btn-action">
                Edit
            </a>
        {% endif %}
        {% if delete %}
            <form action="{{ url_for('.delete', id=obj.id) }}" method="post">
                <button type="submit" class="btn btn-outline-danger btn-action"
                        onclick="return confirm('Are you sure you want to delete {{ obj.id }}? This cannot be undone!')">
                    Delete
                </button>
            </form>
        {% endif %}
    </div>
{% endmacro %}

{% macro render_info(obj) %}
{# Render object info in a table. Example usage:
    {% call(prop) render_info(project, 'Name', 'Collections') %}
        {% if prop == 'Name' %}
            {{ project.name }}
        {% elif prop == 'Collections' %}
            {{ project.collection_ids|join(', ') }}
        {% endif %}
    {% endcall %}
#}
    <table class="table">
        <tbody>
            <tr>
                <th scope="row">Id</th>
                <td>{{ obj.id }}</td>
            </tr>
            {% for prop in varargs %}
                <tr>
                    <th scope="row">{{ prop }}</th>
                    <td>{{ caller(prop) }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endmacro %}

{% macro render_form(form, obj, col2_fields) %}
    {% if obj %}
        {% set submit_target = url_for('.edit', id=obj.id) %}
        {% set cancel_target = url_for('.view', id=obj.id) %}
    {% else %}
        {% set submit_target = url_for('.create') %}
        {% set cancel_target = url_for('.index') %}
    {% endif %}
    <form action="{{ submit_target }}" method="post">
        {{ form.csrf_token }}
        <div class="row">
            <div class="col-5">
                {% for field in form if field.id != 'csrf_token' and field.id not in col2_fields %}
                    {{ render_field(field, obj) }}
                {% endfor %}
            </div>
            <div class="col-7">
                {% for field in form if field.id in col2_fields %}
                    {{ render_field(field, obj) }}
                {% endfor %}
            </div>
        </div>
        <div class="mt-4">
            <button type="submit" class="btn btn-outline-primary btn-action">
                Save
            </button>
            <a href="{{ cancel_target }}" class="btn btn-outline-secondary btn-action">
                Cancel
            </a>
        </div>
    </form>
{% endmacro %}

{% macro render_field(field, obj) %}
    <div class="mt-4">
        {{ field.label(class='form-label') }}
        {% if obj and field.id == 'id' %}
            {{ field(class='form-control', readonly='') }}
        {% elif field.type == 'BooleanField' %}
            <div class="form-check">
                {{ field(class='form-check-input') }}
            </div>
        {% else %}
            {% set classes = ['form-control'] %}
            {% if field.type == 'JSONTextField' %}
                {% set classes = classes + ['font-monospace'] %}
            {% elif field.type == 'MultiCheckboxField' %}
                {% set classes = classes + ['list-unstyled'] %}
            {% endif %}
            {% if field.errors %}
                {% set classes = classes + ['is-invalid'] %}
            {% endif %}
            {{ field(class=classes|join(' '), spellcheck='false') }}
            {% for error in field.errors %}
                <div class="invalid-feedback">
                    {{ error }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endmacro %}

{% macro obj_link(view, obj_id, display_text=None) %}
    {% if obj_id %}
        {% set target = url_for(view ~ '.view', id=obj_id) %}
        <a href="{{ target }}" class="text-decoration-none">
            {{ display_text if display_text is not none else obj_id -}}
        </a>
    {%- endif %}
{%- endmacro %}

{% macro obj_links(view, obj_ids, newlines=False) %}
    {% if newlines %}
        {% set sep = '<br/>'|safe %}
    {% else %}
        {% set sep = ', ' %}
    {% endif %}
    {% for obj_id in obj_ids|sort %}
        {{ obj_link(view, obj_id) }}{% if not loop.last %}{{ sep }}{% endif %}
    {% endfor %}
{% endmacro %}
