{% extends 'base.html' %}

{% block heading %}
    Project: {{ project.name }}
{% endblock %}

{% block content %}
    {% from 'macros.html' import render_info, render_buttons, obj_links %}
    {% call(prop) render_info(project, 'Name', 'Collections') %}
        {% if prop == 'Name' %}
            {{ project.name }}
        {% elif prop == 'Collections' %}
            {{ obj_links('collections', project.collection_ids, newlines=True) }}
        {% endif %}
    {% endcall %}
    {{ render_buttons(project, edit=True, delete=True) }}
{% endblock %}
