{% extends 'base.html' %}

{% block heading %}
    Record: {{ record.doi or record.sid }}
{% endblock %}

{% block content %}
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#info" type="button" role="tab">
                Info
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#metadata" type="button" role="tab">
                Metadata
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#validity" type="button" role="tab">
                Validity
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#tag-qc" type="button" role="tab">
                QC
            </button>
        </li>
    </ul>
    <div class="tab-content">
        <div id="info" class="tab-pane fade show active" role="tabpanel">
            {% from 'macros.html' import render_info, render_buttons, obj_link %}
            {% call(prop) render_info(record, 'DOI', 'SID', 'Collection', 'Schema', 'Timestamp') %}
                {% if prop == 'DOI' %}
                    {{ record.doi if record.doi }}
                {% elif prop == 'SID' %}
                    {{ record.sid if record.sid }}
                {% elif prop == 'Collection' %}
                    {{ obj_link('collections', record.collection_id) }}
                {% elif prop == 'Schema' %}
                    {{ obj_link('schemas', record.schema_id) }}
                {% elif prop == 'Timestamp' %}
                    {{ record.timestamp|timestamp }}
                {% endif %}
            {% endcall %}
            {{ render_buttons(record, edit=True, delete=True) }}
        </div>
        <div id="metadata" class="tab-pane fade" role="tabpanel">
            <pre class="m-3">
                {{- record.metadata|tojson -}}
            </pre>
        </div>
        <div id="validity" class="tab-pane fade" role="tabpanel">
            <pre class="m-3">
                {{- record.validity|tojson -}}
            </pre>
        </div>
        <div id="tag-qc" class="tab-pane fade" role="tabpanel">
            {% from 'macros.html' import render_table, obj_link %}
            {% set qc_tags = record.tags|selectattr('tag_id', 'eq', qc_tag_id) %}
            {% call(qc_tag) render_table(qc_tags, 'Pass', 'Comment', 'User', 'Timestamp', hide_id=True) %}
                <td>{{ qc_tag.data['pass_'] }}</td>
                <td>{{ qc_tag.data['comment'] }}</td>
                <td>{{ obj_link('users', qc_tag.user_id, qc_tag.user_name) }}</td>
                <td>{{ qc_tag.timestamp|timestamp }}</td>
            {% endcall %}
            <div class="btn-toolbar justify-content-between mt-4">
                <a href="{{ url_for('.tag_qc', id=record.id) }}" class="btn btn-outline-warning btn-action">
                    Tag
                </a>
                <form action="{{ url_for('.untag_qc', id=record.id) }}" method="post">
                    <button type="submit" class="btn btn-outline-secondary btn-action"
                            onclick="return confirm('Are you sure you want to delete your {{ qc_tag_id }} tag?')">
                        Untag
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
