{% extends 'base.html' %}

{% block heading %}
    Users
{% endblock %}

{% block content %}
    {% from 'macros.html' import render_table, obj_links %}
    {% call(user) render_table(users, 'Name', 'Email', 'Verified', 'Active', 'Roles', hide_id=True) %}
        <th scope="row">
            <a href="{{ url_for('.view', id=user.id) }}" class="text-decoration-none">
                {{ user.name }}
            </a>
        </th>
        <td>{{ user.email }}</td>
        <td>{{ user.verified }}</td>
        <td>{{ user.active }}</td>
        <td>{{ obj_links('roles', user.role_ids) }}</td>
    {% endcall %}
{% endblock %}
