<!DOCTYPE html>
<title>{% block title %}{% endblock %} - Open Data Platform</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <img class="odp-logo" src="{{ url_for('static', filename='logo_odp_small.png') }}">
  <h1>ODP Account</h1>
  <ul>
    {% if current_user.is_authenticated %}
      <li><span>{{ current_user.email }}</span>
      <li><a href="{{ url_for('hydra.logout') }}">Log out</a>
    {% else %}
      <li><a href="{{ url_for('hydra.login') }}">Log in</a>
      <li><a href="{{ url_for('user.register') }}">Register</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    <h2>{% block header %}{% endblock %}</h2>
  </header>
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <ul class="flash">
      {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  {% block content %}{% endblock %}
</section>
