# Example configuration for local development

ODP_ENV=development

ODP_LOG_LEVEL=debug

ODP_DB_HOST=localhost
ODP_DB_PORT=1337
ODP_DB_NAME=odp_db
ODP_DB_USER=odp_user
ODP_DB_PASS=pass
ODP_DB_ECHO=false

FLASK_ENV=development
FLASK_DEBUG=False  # False works best if debugging in an IDE

ODP_UI_URL=http://odp.localhost:2021
ODP_UI_API_URL=http://localhost:2020
ODP_UI_FLASK_KEY=secret
ODP_UI_CLIENT_ID=ODP.UI
ODP_UI_CLIENT_SECRET=secret

ODP_IDENTITY_URL=http://localhost:2022
ODP_IDENTITY_FLASK_KEY=secret
ODP_IDENTITY_LOGIN_EXPIRY=86400
ODP_IDENTITY_NCCRD_BRAND_CLIENT_ID=

ODP_MAIL_HOST=smtp.gmail.com
ODP_MAIL_PORT=587
ODP_MAIL_TLS=True
ODP_MAIL_USERNAME=
ODP_MAIL_PASSWORD=

HYDRA_IMAGE=oryd/hydra:v1.10.6
HYDRA_PUBLIC_URL=http://localhost:9000
HYDRA_ADMIN_URL=http://localhost:9001

CATALOGUE_METADATA_LANDING_PAGE_BASE_URL=https://catalogue.saeon.ac.za/records

DATACITE_API_URL=https://api.test.datacite.org
DATACITE_USERNAME=
DATACITE_PASSWORD=
DATACITE_DOI_LANDING_PAGE_BASE_URL=https://odp.saeon.ac.za/api/catalogue/go
DATACITE_PUBLISH_BATCH_SIZE=10
DATACITE_PUBLISH_MAX_RETRIES=3

MEDIA_REPOSITORY_BASE_URL=https://repository.saeon.ac.za/
MEDIA_USERNAME=
MEDIA_PASSWORD=

GOOGLE_ENABLE=true
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_SCOPE=["openid","email","profile"]
GOOGLE_AUTH_URI=https://accounts.google.com/o/oauth2/auth
GOOGLE_TOKEN_URI=https://oauth2.googleapis.com/token
GOOGLE_OPENID_URI=https://accounts.google.com/.well-known/openid-configuration

ODP_PUBLISH_HARVEST_CHECK_INTERVAL=10
ODP_PUBLISH_BATCH_SIZE=100

OAUTHLIB_INSECURE_TRANSPORT=True  # required when running local OAuth2 client apps on plain HTTP

REDIS_PORT=1379
